# Built object files
*.o
*.a
.vscode

# Temporary files 
*~

# Coverage files
*.gcov
*.gcno
*.gcda

# Copied headers from libmy
/lib/include/*.h

# Final binary
asm/asm
corewar/corewar
corewar_tests

# Sourcetrail project
*.srctrl*

# others
corewar_binaries
asm/champions/abel.s
asm/champions/bill.s
asm/champions/pdd.s
asm/champions/tyron.s
