# Built object files
*.o
*.a
*.vscode
vgcore.*

# Temporary files 
*~

# Coverage files
*.gcov
*.gcno
*.gcda

# Final binary
asm/asm
corewar/corewar
corewar_tests

# Sourcetrail project
*.srctrl*

# others
corewar_binaries
old_op
*.cor
asm/champions/*.s
