# Built object files
*.o
*.a
*.vscode
vgcore.*

# Temporary files 
*~

# Coverage files
*.gcov
*.gcno
*.gcda

# Final binary
asm/asm
corewar/corewar
corewar_tests

# Sourcetrail project
*.srctrl*

# others
corewar_binaries
asm/champions/abel.s
asm/champions/bill.s
asm/champions/pdd.s
asm/champions/tyron.s
old_op
Abel.cor